{block content}
<div class="container-fluid timeline-container">
    <div class="container">
        <div class="text-center">
            <ul class="pager">
                <li class=""><a href="{plink default $page}">Zpět na Přehled</a></li>
            </ul>
        </div>
        {if $page_db == "0"}
            <img src="http://www.destructoid.com/elephant/ul/111835-ms.jpg">
            <div class="alert alert-danger" role="alert">
                <a href="#" class="alert-link">Jejda, to co hledáte tu není</a>
            </div>
        {else}
            <ul class="timeline">
                <li class="timeline-inverted">
                    <div class="timeline-panel dinamic-page">
                        <div class="timeline-header">
                            <div class="row">
                                <div class="col-xs-8">
                                    <h2>{$page_db->name}</h2>
                                </div>
                            </div>
                        </div>
                        <div class="timeline-body">
                            <p>
                                {$page_db->content|truncate:400}
                            </p>
                        </div>
                    </div>
                </li>

            </ul>

        {/if}

        <div class="text-center">
            <ul class="pager">
                <li class=""><a href="{plink default $page}">Zpět na Přehled</a></li>
            </ul>
        </div>
    </div>
</div>
{/block}