{block content}
<div class="container-fluid timeline-container">
    <div class="container">
        <div class="text-center">
            <ul class="pager">
                <li class=""><a href="{plink default $page}">Zpět na Aktiality</a></li>
            </ul>
        </div>
        {if $article == "0"}
            <img src="http://www.destructoid.com/elephant/ul/111835-ms.jpg">
            <div class="alert alert-danger" role="alert">
                <a href="#" class="alert-link">Jejda, to co hledáte tu není</a>
            </div>
        {else}
            <ul class="timeline">
                <li class="timeline-inverted">
                    <div class="timeline-badge primary"><a><span class="circle">{$article->created_at|date:'%e.'}<br><span class="mounth">{$article->created_at|date:'%b'}</span></span></a></div>
                    <div class="timeline-panel">
                        <div class="timeline-header">
                            <div class="row">
                                <div class="col-xs-8">
                                    <h2>{$article->name}</h2>

                                    {if isset($article->ref("users", "author_id")->realname)}
                                        <i class="fa fa-user"></i>
                                        {$article->ref("users", "author_id")->realname}

                                    {/if}

                                    <i class="fa fa-calendar"></i> {$article->created_at|date:'%d. %m. %Y'}
                                </div>
                            </div>
                        </div>
                        <div class="timeline-body">
                            <p>
                                {!$article->content}
                            </p>

                            {if $images}
                            <div class="row">
                                <div n:foreach="$images as $image" class="col-md-3">
                                    <a class="thumbnail" href="{$basePath}{$image->path_real}"
                                       data-lightbox="{$article->name}">
                                        <img class="" src="{$basePath}{$image->path_preview}" alt="{$article->name}"/>
                                    </a>
                                </div>
                            </div>
                            {/if}

                        </div>

                    </div>
                </li>

            </ul>

        {/if}

         <div class="text-center">
            <ul class="pager">
                <li class=""><a href="{plink default $page}">Zpět na Aktiality</a></li>
           </ul>
        </div>
    </div>
</div>
{/block}
